<%= search_form_for @q, :url => conferences_path do |f| %>
  <%= f.label :name_cont %>
  <%= f.search_field :name_cont %>
  <%= f.submit %>
<% end %>

<hr>

<%
  if params[:event_id]
    url = conference_path(@event)
  else
    url = conferences_path
  end
%>
<%= form_for @event, :url => url do |f| %>
  <% if @event.errors.any? %>
    <ul>
      <% @event.errors.full_messages.each do |m| %>
      <li><%= m %></li>
    <% end %>
    </ul>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :date %>
  <%#= f.date_select :date %>
  <%#= f.date_field :date %>
  <%= f.text_field :date %>


  <%= f.label :tag_list %>
  <%= f.text_field :tag_list %>

  <%= f.collection_check_boxes(:group_ids, Group.all, :id, :name) %>

  <% if false %>
    <%= hidden_field_tag "event[group_ids][]", "" %>
    <% Group.all.each do |g| %>
      <%= check_box_tag "event[group_ids][]", g.id, @event.groups.include?(g) %>
      <%= g.name %>
    <% end %>
  <% end %>

  <%= f.label :category_id %>

  <%#= f.collection_select(:category_id, Category.all, :id, :name) %>

  <% Category.all.each do |c| %>
    <%= f.radio_button :category_id, c.id %>
    <%= c.name %>
  <% end %>

  <%= f.label :url %>
  <%= f.url_field :url %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <div class="form-group">
    <%= f.label :logo, "LOGO檔案" %>
    <%= f.file_field :logo %>

    <% if @event.logo.exists? %>
      <%= check_box_tag "destroy_logo", "1" %> 刪除檔案
    <% end %>
  </div>

  <%= f.submit "送出" %>

<% end %>

<p>
  <%= sort_link(@q, :name) %>
  <%= sort_link(@q, :attendees_count) %>
  <%= sort_link(@q, :last_registered_at) %>
</p>

<h2>Conference List</h2>

<table>
<% @events.each do |x| %>
  <tr id="event-<%= x.id %>">
    <td><%= link_to x.name, conference_path(x) %></td>
    <td>
      <% x.tags.each do |t| %>
        <%= link_to t.name, conferences_path( :tag_id => t ) %>
      <% end %>
    </td>
    <td><%= x.category_name %></td>

    <td>
      <%= x.groups.map{ |x| x.name }.join(", ") %>
    </td>
    <td><%= x.url %></td>
    <td><%= link_to "Attendees", conference_attendees_path(x) %>
    <td>
      <%= link_to "Edit", conferences_path( :event_id => x ) %>
    </td>
    <td>
      <%= button_to "Delete", conference_path(x), :remote => true, :method => :delete %>
    </td>
  </tr>
<% end %>
</table>


<script>
  $("#event_date").datepicker({
    format: "yyyy/mm/dd"
  });
</script>
