<h2>Attendee list</h2>

<%= form_for Attendee.new, :url => conference_attendees_path do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>

<table>
<% @attendees.each do |a| %>
  <tr>
    <td><%= a.name %></td>
  </tr>
<% end %>
</table>
